@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #020617;
  --card-bg: #0f172a;
}

body {
  @apply bg-slate-950 text-slate-100;
  min-height: 100vh;
}

input,
button {
  @apply outline-none;
}

